<nav class="navbar navbar-expand-lg  bg-light my-4">
    <div class="container-fluid">
        <ul class="navbar-nav">
           <a href=""><li class="nav-item mx-2">Your Profile</li></a> 
            <a href=""><li class="nav-item mx-2">Your Posts</li></a>
            <a href=""><li class="nav-item mx-2">Explore</li></a>
            
        </ul>

    </div>

</nav>