<div class="add-post">
    <div class="card">
        <div class="card-body">
            <h3>Hello <%=userCred.name%>, Tell us About Your travel</h3>
            <form id="add-post-form" action="<%=`/user/${userCred.username}/posts/addPost`%>" method="post" id="add-post-form">

                <div>
                    <label class="form-label">Heading</label>
                    <input  type="text" name="title" class="form-control" >
                 </div>
                 <div>
                     <label class="form-label">Your Story</label>
                     <textarea  type="number" name="desc" class="form-control" ></textarea>
                  </div>
     
     
                 <div>
                     <label class="form-label">Place</label>
                     <input type="text" name="location" class="form-control" >
                 </div>
    
                 <div>
                     <button class="btn btn-primary" type="submit">Add</button>
                 </div>
     
     
             </form>
        </div>
        

    </div>

</div>