<div class="create-user">
    <div class="card" id="create-user-card"  >
        <h3 class="card-title">Please Tell us About Yourself</h3>
        <form action="" method="post" id="create-user-form">

           <div>
               <label class="form-label">Your Name</label>
               <input  type="text" name="name" >
            </div>

            <div class="aboutYou">
                <label class="form-label">About You</label>
                <textarea type="text" name="name" > </textarea>
            </div>

            <div>
                <label class="form-label">location</label>
                <input type="text" name="name" >
            </div>
            <div>
                <button class="btn btn-primary" type="input">Ok</button>
            </div>


        </form>
    </div>
</div>