          <!--Navbar-->
          <%- include('partials/nav.ejs',{user:user}) %>

<% if(typeof users!='undefined'){ %>
    <h3 class="mx-5 mt-5">New Users</h3>
    <div class="card explore-users card-body d-flex flex-row my-3 ">
        <% users.forEach(user=>{ %>
            <div  class="card explore-user-card card-bod d-flex  align-items-center p-2 mx-3">
                <i class="fas fa-user-circle  fa-5x mx-1"></i>
                <p class="card-text"><%=user.user_username%></p>
                <p class="text-muted"><%=user.user_username%></p>
            </div>

       <% }) %>
    </div>

<% }else{ %>
    <div class="card explore-err card-body my-5">
        <h3 class="card-title">No New user Found !</h3>
        <p class="card-text">We couldn't find any new user</p>
    </div>
<% } %>