          <!--Navbar-->
          <%- include('partials/nav.ejs',{user:user}) %>
  <div class="explore-search-user">
    <form action="" method="post">

        <div class="input-group search-user d-flex align-items-center">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <input type="text" name="searchedUser" placeholder="Search user" class="form-control" >
            
        </div>
             

  </form>
  </div>

<% if(typeof anotherUsers!='undefined'){ %>
    <h3 class="mx-5 mt-5">New Users</h3>
    <div class="card explore-users card-body d-flex flex-row my-3 ">
        <% anotherUsers.forEach(anotherUser=>{ %>
            <div  class="card explore-user-card card-bod d-flex  align-items-center p-2 mx-3">
               <a href="<%=`/user/${user.user_username}/allusers/${anotherUser.user_username}`%>"><i class="fas fa-user-circle  fa-5x mx-1"></i></a> 
                <p class="card-text"><%=anotherUser.user_username%></p>
                <p class="text-muted"><%=anotherUser.user_username%></p>
            </div>

       <% }) %>
    </div>

<% }else{ %>
    <div class="card explore-err card-body my-5">
        <h3 class="card-title">No New user Found !</h3>
        <p class="card-text">We couldn't find any new user</p>
    </div>
<% } %>