

<% if(isLoggedIn){ %>
    <%- include('partials/nav.ejs',{user:user}) %>
    <h1>Hello <%=user.user_name %></h1>
    <h3>This is home page </h3>


<% }else { %>
    <h1>Session timed out</h1>

<% } %>