
 <%- include('partials/nav.ejs',{user:user}) %>
 <div class="container-fluid d-flex justify-content-end">
    <a href="<%=`/user/${user.user_username}/posts/addPost`%>" class="btn btn-primary mx-5">Post</a>
 </div>

<% if(typeof posts!='undefined' && posts.length>0){ %>
    <% post.forEach((post)=>{ %>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><%=post.title%></h3>
                <p class="text-muted">post.date</p>
                <p class="card-text">post.desc</p>
            </div>
        </div>

    <% }) %>

<% } else{ %>
    <div class="card no-post">
        
        <div class="card-body">
            <i class="fas fa-cat fa-5x my-4" ></i>
            <h2 class="card-title"><%=user.user_name%> You have no posts Yet !</h2>
            <p class="card-text">Your posts will appear here</p>
        </div>
    </div>
  <%} %>