<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fab fa-node fa-3x"></i></h1>
            <p>Create a account or login</p>
            <a href="/users/Register" class="btn btn-danger btn-block mb-2">Register</a>
            <a href="/users/Login" class="btn btn-secondary btn-block mb-2">Login</a>
        </div>
    </div>

</div>