<div class="welcome-page">

    <div class="row  mt-5">

        <div class="col-md-6 m-auto">
         
            <div class="card card-body text-center">
                <p>Powered by Nodejs</p>
                <h1><i style="color:gainsboro" class="fas fa-plane-departure fa-4x my-4"></i></h1>
                <h4 class="my-2">Create a account or login</h4>
                <a href="/users/Register" class="btn btn-danger btn-block mb-2">Register</a>
                <a href="/users/Login" class="btn btn-secondary btn-block mb-2">Login</a>
            </div>
        </div>
      
        
    </div >
</div>
