<div class="row welcome mt-5">
    <div class="d-flex flex-column">
    <i class="fas fa-luggage-cart fa-3x my-5"></i>
    <i class="fas fa-road fa-5x mx-5 my-5"></i>
    <i class="fas fa-archway fa-4x"></i>
    </div>
    <div class="col-md-6 m-auto">
     
        <div class="card card-body text-center">
            <p>Powered by Nodejs</p>
            <h1><i style="color:dimgray" class="fas fa-plane-departure fa-4x my-4"></i></h1>
            <h4 class="my-2">Create a account or login</h4>
            <a href="/users/Register" class="btn btn-danger btn-block mb-2">Register</a>
            <a href="/users/Login" class="btn btn-secondary btn-block mb-2">Login</a>
        </div>
    </div>
    <div class="d-flex flex-column">
        <i class="fas fa-route fa-4x my-5 mx-4"></i>
        <i class="fas fa-plane fa-3x my-5"></i>
        <i class="fas fa-tram fa-5x mx-2"></i>
    </div>
    
</div >

<div class="row lower-icons mt-5 ">
    <div class="col">
        <i class="fas fa-bus-alt fa-4x mx-5"></i>
        <i class="fas fa-mountain fa-5x mx-5"></i>
        <i class="fas fa-concierge-bell fa-3x mx-5"></i>
    </div>

    <div class="col ">
        <i class="fas fa-compass fa-4x mx-5"></i>
        <i class="fas fa-umbrella-beach fa-3x mx-5 "></i>
        <i class="fas fa-map-marked-alt fa-3x mx-5"></i>

    </div>

</div>