/* Home */
.home-page{
    margin-left:20%;
    margin-top:10px;
}
.post-user{
    background-color:rgb(84, 126, 218)
}
.post-user i{
    color:rgb(235, 222, 222);
}

/* ----------- */

/* Nav bar */
a,a:hover{
    text-decoration:none;
    
}
/* ---------- */

/*   Login    */
#login-card span{
 width:60%;
 margin-left:20%;
 
}

/* ----------- */


/* Register  */
#register-card span{
    width:60%;
    margin-left:20%;
}


/*   Create User      */
.create-user{
    position:relative;
    margin-top:10%;

}
#create-user-card{
    padding:5%;
    width:70%;
}
#create-user-form{
    display:d-flex row;
     
}
#create-user-form input, #create-user-form textarea{
    width:80%;
   
}
#create-user-form .aboutYou{
    display:flex center ;
    
}
#create-user-form div{
    margin:20px;
}
/*   -----------      */

/*  Profile */
.profile{
    margin-top:5%;

}
.profile i{
    
   
}
/*   ------------   */


/*  Post */
.no-post{
    margin-top:10%;
    width:60%;
    margin-left:20%;
}
.post-card{
    width:60%;
    margin-left:10%;
}
/*   ------------   */


/*  Add Post */
.add-post{
    margin-top:10%;
}
#add-post-form div{
    margin-top:20px;


}
/*   ------------   */



